<!-- Navigation Bar -->
<div class="d-flex justify-content-between navi">
  <div class="directory d-flex">

    <!-- Logo -->
    <div class="logo">
      <img width="35" height="35" src="/images/lyrx-bold.png" alt="Lyrx logo" />
    </div>

    <nav class="collasped">
      <!-- Homepage -->
      <a href="/home"> HOME </a>

      <!-- About -->
      {{! <a href="#about"> ABOUT </a> }}

      <!-- Contact Information -->
      <a href="/contact"> CONTACT </a>
    </nav>
  </div>

  <!-- Search Section -->
  <div class="align-items-center justify-content-center text-center search-top">
    <form id="search-form">
      <input
        id="search-input"
        size="100px"
        placeholder="Artist - Song "
      />
      <button type="submit" id="search-btn"><i
          class="fas fa-search"
        ></i></button>
    </form>
  </div>

  <!-- Account -->
  <div class="register">
    {{#if isLoggedIn}}
      <button type="button" class="btn btn-success">
        <a href="/logout">LOGOUT</a>
      </button>
    {{else}}
      <button type="button" class="m-r-3 btn btn-outline-success">
        <a href="/signup">SIGNUP</a>
      </button>
      <button type="button" class="btn btn-success">
        <a href="/login">LOGIN</a>
      </button>
    {{/if}}
  </div>
</div>

<!-- Song Cover Info -->
<div class="box">
    <!-- Song Cover Image -->
    <div class=" songCover">
        <img class="cover" src="/images/vinyl.jpg" alt="song or album cover image"/>
    </div>
</div>

<div class="songTitle">
        <span id="term-placeholder"></span>
        <span id="artist-placeholder" class="artist"></span>

    <!-- Music Player -->
    {{! <div id="player">
            <div class="player-process">

                <!-- Player Progress Bar -->
                <div class="d-flex flex-row progressbar">

                    <!-- Player Controls -->
                    <div class="controls">
                        <div class="play" onclick="playSong(this)"><i class="fas fa-play"></i></div>
                    </div> 

                    <!-- Song Duration -->
                    <div class="currentTime">0:00</div>
                    <div class="totalTime">0:00</div>
                </div>
            </div>
            
        </div> --}}
    </div>

<div
  id="result-link"
  class="p-5 align-items-center justify-content-center text-center lyrics"
>
  {{#if firstResult}}
    <a href="{{firstResult.song-link}}" target="_blank">See Song's Information</a>
  {{else}}
    <p>No results found.</p>
  {{/if}}
</div>

<script src="/js/login-signup.js"></script>
<script src="/js/searchFunction.js"></script>
<script src="/js/mobileMenu.js"></script>
{{! <script src="/js/musicplayer.js"></script> }}