<div class="login-signup">
    <a href="#">Login</a>
    <a href="#">Sign Up</a>
</div>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="pt-3 align-items-center justify-content-center text-center search">
  <form id="search-form">
    <input type="text" id="search-input" size="150px" placeholder="Artist - Song">
    <button type="submit" id="search-btn"><i class="fas fa-search"></i></button>
  </form>
</div>

<div id="result-link">
  {{#if firstResult}}
    <a href="{{firstResult.song-link}}" target="_blank">See Song's Information</a>
  {{else}}
    <p>No results found.</p>
  {{/if}}
</div>

<script src="/js/searchFunction.js"></script>

