<!-- Search Section -->
<div class="pt-3 align-items-center justify-content-center text-center search">
  <form id="search-form">
    <input type="text" id="search-input" size="150px" placeholder="Artist - Song ">
    <button type="submit" id="search-btn"><i class="fas fa-search"></i></button>
  </form>
</div>

<!-- Search Filter -->
{{!-- <div class="pb-5 align-items-center justify-content-center text-center filter">
    <form class="align-items-center justify-content-center text-center filter-form" action="/action_page.php">
        <input type="radio" id="f1" name="filter" value="1">
        <label for="f1">By Lyric</label><br>
        <input type="radio" id="f2" name="filter" value="2">
        <label for="f2">By Artist</label><br>  
        <input type="radio" id="f3" name="filter" value="3">
        <label for="f3">By Album</label><br><br>
    </form>
</div> --}}
<!-- Top Songs -->
<div class="pb-5 align-items-center justify-content-center text-center topSongs">
    <!-- JS add in top songs listing -->
</div>

<script src="/js/searchFunction.js"></script>