<h1>{{pageTitle}}</h1>
<form class="signup-form">
    <label for="username">Username:</label>
    <input type="text" id="username-signup" name="username"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email-signup" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password-signup" name="password"><br><br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password"><br><br>
    <input type="submit" value="{{submitButtonText}}">
</form>

<script src="../public/js/login-signup.js"></script>
