:root {
    /* COLOR PALETTE */
    --lb: #343231;
    --ob: #151515;
    --b: #000;
    --ow: #e0dedf;
    --w: #fff;
    --bg: #2F392B;
    --logo: #5CAE53;
    --dlogo: #437e3d;

    /* FONT STYLES */
    --ftfam: 'Ubuntu Mono', monospace;
    --ftfam2: 'Bebas Neue', sans-serif;
    --ftfam3: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--lb); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--dlogo); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--logo); 
}
  
/* BODY STYLE */
body {
    margin: 0;
    background-color: var(--ob);
    min-height: auto;
}

header {
    margin: 0;
}

.navi {
    display: flex;
    position: sticky;
    top: calc(0px);
    z-index: 6;
    padding: 2.7rem;
    padding-left: 6rem;
    background-color: var(--b);
}

.logo {
    margin-right: 1rem; 
    cursor: pointer;
}

.directory a {
    padding: 1rem;
    color: var(--ow);
    font-family: var(--ftfam);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.directory a:hover {
    color: var(--logo);
}

.btn {
    font-family: var(--ftfam);
    margin-right: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.register {
    padding: 0 6rem;
}

.about,
.services {
    background-color: var(--dlogo);
    color: var(--w);
    font-family: var(--ftfam3);
    font-weight: 500;
}

h1 {
    font-size: 4.5rem;
}

.left {
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.right {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}

.searchPage-btn {
    padding: 1rem 5rem;
    background-color: var(--bg);
    color: var(--w);
    font-size: 3rem;
    border: none;
    border-radius: 4rem;
    text-decoration: none;
}

.searchPage-btn:hover {
    color: var(--logo);
}

/* SEARCH PAGE STYLE */
.search {
    margin-top: 10rem;
    /* min-height: 100vh; */
}

input {
    line-height: 2.5rem;
}

::placeholder {
    padding-left: 0.5rem;
    text-align: left;
}

#search-btn {
    padding: 0.5rem;
    background-color: var(--ob);
    color: var(--w);
}

#search-btn:hover {
    color: var(--logo);
}

.filter-form {
    display: flex;
    align-items: center;
}

.filter-form label {
    padding-right: 3rem;
    padding-left: 0.5rem;
    font-family: var(--ftfam);
    color: var(--w);
}

.topSongs {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

/* RESULT PAGE STYLE */
.search-top {
    margin-top: -1rem;
    margin-bottom: -3.4rem;
}

.box {
    background-color: var(--b);
    display: flex;
    position: relative;
}

.songTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    left: 40rem;
    font-family: var(--ftfam);
    color: var(--w);
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

.artist {
    font-size: 1.5rem;
}

.songCover {
    width: 100%;
    height: 100%;
}

.cover {
    height: 340px;
    width: 340px;
    display: flex;
    position: relative;
    top: 1rem;
    left: 10rem;
}

.lyrics {
    margin-left: 6rem;
    margin-top: 1rem;
}

/* FOOTER STYLE */
footer {
    background-color: var(--b);
    color: var(--w);
    min-height: 20vh;
    padding-top: 6rem;
    font-family: var(--ftfam3);
}
